<!-- home/index.html -->
{% extends 'base.html' %}

{% load static %}

{% block page_title %}
    Portfólio - Matheus Santos
{% endblock page_title %}

{% block content %}
<div class="container">		
		<div class="row section topspace">
			<div class="col-md-12">
				<p class="lead text-center text-muted">Olá, meu nome é Matheus e sou desenvolvedor júnior. Este website é um projeto desenvolvido em Python e serve como portfólio para que eu possa publicar alguns dos meus projetos. Agradeço por visitar meu site e espero que você goste do meu trabalho!</p>
			</div>
		</div> <!-- / section -->
		
		<div class="row section featured topspace">
			<h2 class="section-title"><span>Conhecimentos</span></h2>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<h3 class="text-center">Python</h3>
					<p>Conhecimento em manipulação de dados, desenvolvimento de aplicações web com Django e Flask, integração de bancos de dados, otimização de performance e soluções escaláveis.</p>
					<p class="text-center"><a href="{% url 'python' %}" class="btn btn-action">Leia mais</a></p>
				</div>
				<div class="col-sm-6 col-md-3">
					<h3 class="text-center">Aplicação web</h3>
					<p>Conhecimento em HTML, CSS, JavaScript e frameworks como Django e Flask, além de integração de bancos de dados e APIs para criar soluções eficientes e responsivas.</p>
					<p class="text-center"><a href="{% url 'aplicacaoweb' %}" class="btn btn-action">Leia mais</a></p>
				</div>
				<div class="col-sm-6 col-md-3">
					<h3 class="text-center">HTML e CSS</h3>
					<p>Conhecimento em HTML e CSS, desenvolvimento de páginas responsivas e estilos modernos. Busco sempre melhorar minhas habilidades e aplicar boas práticas no design.</p>
					<p class="text-center"><a href="{% url 'htmlcss' %}" class="btn btn-action">Leia mais</a></p>
				</div>
				<div class="col-sm-6 col-md-3">
					<h3 class="text-center">Hospedagem</h3>
					<p>Conhecimento em configuração e gerenciamento de servidores, desenvolvimento de soluções e otimização de sites, além de conhecimento em segurança web.</p>
					<p class="text-center"><a href="{% url 'hospedagem' %}" class="btn btn-action">Leia mais</a></p>
				</div>
			</div>
		</div> <!-- / section -->
	
		<div class="row section recentworks topspace">
			
			<h2 class="section-title"><span>Projetos</span></h2>
			
			<div class="thumbnails recentworks row">
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="{% url 'page1' %}">
						<span class="img">
							<img src="{% static 'img/projetobolsocontrolado.jpg' %}" alt="">

							<span class="cover"><span class="more">Leia mais &rarr;</span></span>
						</span>
						<span class="title">Site para controle financeiro</span>
					</a>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="{% url 'page2' %}">
						<span class="img">
							<img src="{% static 'img/python.jpg' %}" alt="">

							<span class="cover"><span class="more">Leia mais &rarr;</span></span>
						</span>
						<span class="title">Projetos em Python</span>
					</a>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="{% url 'page3' %}">
						<span class="img">
							<img src="{% static 'img/django.jpg' %}" alt="">

							<span class="cover"><span class="more">Leia mais &rarr;</span></span>
						</span>
						<span class="title">Framework Django</span>
					</a>
				</div>

				<div class="row section clients topspace" style="margin-top: 310px;">
					<h2 class="section-title"><span>Tecnologias</span></h2>
					<div class="col-lg-12">
						<p>
							<img src="{% static 'img/tecnologias.png' %}" alt="">
						</p>
					</div>
				</div>

			</div>
		</div> <!-- /section -->
	</div>	<!-- /container -->
{% endblock content %}